* {
  box-sizing: border-box;
  background-color: rgb(210, 180, 140); /* Tan */
}

body{
  font-family: "josefin Sans", sans-serif;
  font-size: 1em;
}


#header {
  color: darkred;
  text-align: center;
  font-family: Papyrus;
  font-size: 25pt;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.title {
  color: darkgoldenrod;
  font-family: Papyrus;
  text-align: center;
  font-size: 15pt;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


[class*="col"] {
          float: left;
  /* padding: 15px; */
        }


.row::after {
    content: "";
    clear: both;
    display: block;  
}


a {
  text-decoration: none;
  color: darkred;
}


a:hover {
  text-decoration: underline;
}


col, col-3 menu, #recipe, #mainimage {
  position: center;
  text-align: center;
}


.caption {
  font-size: 0.95em;
}

/* BEGIN FOOTER */

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  font-size: 0.95em;
}


