
html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  background-color: rgb(210, 180, 140); /* Tan */
}

body {
  justify-content: space-around;
  font-family: Papyrus;
  text-align: center;
  font-size: 1em;
  clear: both;
  margin: 0 auto;
  padding: 0 auto;
}

.recipe-container {
  display: inline-block;
}

h1 {
  color: darkred;
  font-size: 50pt;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  color: darkgoldenrod;
  font-size: 30pt;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h3 {
  font-size: 20pt;
  padding-top: 20pt;
}

h3, a {
  color: darkred;
  text-align: center;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

a:hover {
  color: olive;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-block-size: 500px;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  margin-top: 100pt;
}
